<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>ADMIN</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 th:inline="text">File.html</h1>
	<form method="POST" enctype="multipart/form-data" action="/upload"> 
		<p>文件：<input type="file" name="file" /></p>
		<p><input type="submit" value="上传" /></p>
	</form>
</body>
</html>

