<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
</head>
<body>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<form th:action="@{/admin/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
	<p th:each="menu,iterStat : ${menus}">
		<a th:href="${menu.url}" th:text="${menu.name}"></a>
	</p>
	<p>
		Click <a th:href="@{/admin/hello}">here</a> to see a greeting.
	</p>
</body>
</html>